node-red-flow/flows/flow-nmap.json
[{"id":"2853aa69.cec90e","type":"exec","z":"6ff77616.feca08","command":"nmap -oX - -sT -T4 192.168.43.0/24","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nmap-exec","x":310,"y":40,"wires":[["1545d874.edada8"],[],[]]},{"id":"b76bfc89.7e94e8","type":"debug","z":"6ff77616.feca08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":40,"wires":[]},{"id":"c743282b.ef258","type":"inject","z":"6ff77616.feca08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["2853aa69.cec90e"]]},{"id":"1545d874.edada8","type":"xml","z":"6ff77616.feca08","name":"","property":"payload","attr":"","chr":"","x":450,"y":40,"wires":[["67cd1d8b.ab56bc"]]},{"id":"67cd1d8b.ab56bc","type":"function","z":"6ff77616.feca08","name":"get addresses","func":"let hosts = []\nmsg.payload.nmaprun.host.forEach(h => {\n   hosts.push(h.address['0']['$'].addr); \n});\nmsg.payload = hosts;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":40,"wires":[["b76bfc89.7e94e8"]]}]