node-red-flow/flows/flow-manager.json
[{"id":"806fd68c.65e3e","type":"mqtt in","z":"c5a7df25.60f238","name":"","topic":"manager/connack","qos":"2","datatype":"auto","broker":"8da0b58e.de7458","x":190,"y":180,"wires":[["47e30fdc.5bf878"]]},{"id":"28b2a411.64e1cc","type":"http request","z":"c5a7df25.60f238","name":"Check room","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.otakedev.com/queue/room","tls":"","proxy":"","x":530,"y":180,"wires":[["4d063382.272d1c"]]},{"id":"f24cd579.b3563","type":"mqtt out","z":"c5a7df25.60f238","name":"","topic":"manager/connect","qos":"2","retain":"true","broker":"8da0b58e.de7458","x":1030,"y":180,"wires":[]},{"id":"c3a5b248.8483b8","type":"inject","z":"c5a7df25.60f238","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["8a9a84f8.59acf"]]},{"id":"905b78dc.f71d6","type":"comment","z":"c5a7df25.60f238","name":"Test node","info":"","x":120,"y":600,"wires":[]},{"id":"880d97af.c17f18","type":"comment","z":"c5a7df25.60f238","name":"Main node","info":"","x":120,"y":80,"wires":[]},{"id":"8a9a84f8.59acf","type":"template","z":"c5a7df25.60f238","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"room\":\"O+133\"\n}","output":"str","x":280,"y":640,"wires":[["3b1c29ab.90d0fe"]]},{"id":"3b1c29ab.90d0fe","type":"mqtt out","z":"c5a7df25.60f238","name":"","topic":"manager/connack","qos":"2","retain":"true","broker":"8da0b58e.de7458","x":790,"y":640,"wires":[]},{"id":"6541390a.9ef938","type":"mqtt in","z":"c5a7df25.60f238","name":"","topic":"manager/connect","qos":"2","broker":"8da0b58e.de7458","x":140,"y":720,"wires":[["c1fe7b61.b8785"]]},{"id":"a514b9a3.9d55a8","type":"debug","z":"c5a7df25.60f238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":720,"wires":[]},{"id":"c1fe7b61.b8785","type":"json","z":"c5a7df25.60f238","name":"","property":"payload","action":"","pretty":false,"x":310,"y":720,"wires":[["a514b9a3.9d55a8"]]},{"id":"4d063382.272d1c","type":"switch","z":"c5a7df25.60f238","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"neq","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":180,"wires":[["28109f90.adb2f8"]]},{"id":"3ad2f14c.14b98e","type":"comment","z":"c5a7df25.60f238","name":"Starter","info":"","x":150,"y":140,"wires":[]},{"id":"aa4457f3.97df38","type":"comment","z":"c5a7df25.60f238","name":"Process","info":"","x":160,"y":320,"wires":[]},{"id":"616f630b.817574","type":"mqtt out","z":"c5a7df25.60f238","name":"","topic":"manager/queue","qos":"","retain":"","broker":"8da0b58e.de7458","x":1020,"y":360,"wires":[]},{"id":"b0d0bad3.851d9","type":"mqtt in","z":"c5a7df25.60f238","name":"","topic":"manager/next","qos":"2","broker":"8da0b58e.de7458","x":170,"y":420,"wires":[["6d388b55.a5901c","4626ff32.29616"]]},{"id":"c7f7f618.d71238","type":"inject","z":"c5a7df25.60f238","name":"refresh","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["6d388b55.a5901c"]]},{"id":"bf71f4ba.44d9e","type":"http request","z":"c5a7df25.60f238","name":"Delete first ticket","method":"DELETE","ret":"obj","url":"https://api.otakedev.com/queue/tickets/{{{query}}}/first","tls":"","x":610,"y":360,"wires":[["fc403663.9d2ea8"]]},{"id":"6d388b55.a5901c","type":"change","z":"c5a7df25.60f238","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["bf71f4ba.44d9e"]]},{"id":"94c7ede.576699","type":"function","z":"c5a7df25.60f238","name":"len","func":"let newMsg = { payload: msg.payload.length };\nreturn newMsg;","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["616f630b.817574","4626ff32.29616"]]},{"id":"380cf1a.8578f0e","type":"http request","z":"c5a7df25.60f238","name":"Get Ticket","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.otakedev.com/queue/tickets?room={{{query}}}","tls":"","proxy":"","x":820,"y":280,"wires":[["94c7ede.576699"]]},{"id":"a47c0d59.673fa8","type":"link in","z":"c5a7df25.60f238","name":"new Ticket","links":["8b35b1c.2078bd","c1c2def7.b2d418","56a8e95c.124a3"],"x":195,"y":280,"wires":[["fc403663.9d2ea8"]]},{"id":"28109f90.adb2f8","type":"change","z":"c5a7df25.60f238","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":180,"wires":[["f24cd579.b3563","27201dfc.a824ca","fc403663.9d2ea8"]]},{"id":"27201dfc.a824ca","type":"debug","z":"c5a7df25.60f238","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":140,"wires":[]},{"id":"4626ff32.29616","type":"debug","z":"c5a7df25.60f238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":420,"wires":[]},{"id":"223340ee.56172","type":"comment","z":"c5a7df25.60f238","name":"Ticket post ","info":"","x":160,"y":240,"wires":[]},{"id":"9b15a704.1cd388","type":"debug","z":"c5a7df25.60f238","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":140,"wires":[]},{"id":"47e30fdc.5bf878","type":"template","z":"c5a7df25.60f238","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"room\":\"{{payload}}\"\n}","output":"json","x":360,"y":180,"wires":[["28b2a411.64e1cc","9b15a704.1cd388"]]},{"id":"df95cd8.376de3","type":"inject","z":"c5a7df25.60f238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":780,"wires":[["1f09212d.5068b7"]]},{"id":"1f09212d.5068b7","type":"mqtt out","z":"c5a7df25.60f238","name":"","topic":"established","qos":"2","retain":"true","broker":"8da0b58e.de7458","x":570,"y":780,"wires":[]},{"id":"fc403663.9d2ea8","type":"change","z":"c5a7df25.60f238","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["380cf1a.8578f0e"]]},{"id":"8da0b58e.de7458","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.141","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"established","birthQos":"2","birthRetain":"true","birthPayload":"true","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]