node-red-flow/flows/flow-client.json
[{"id":"86ffe4b8.b73e7","type":"mqtt in","z":"81c33d2a.fc638","name":"","topic":"ticket/post","qos":"2","datatype":"auto","broker":"5d2c46e1.a8dc08","x":120,"y":440,"wires":[["d0cf384f.9524c"]]},{"id":"ca46e19f.b89c6","type":"debug","z":"81c33d2a.fc638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":440,"wires":[]},{"id":"8ec46f97.f35cf","type":"mqtt out","z":"81c33d2a.fc638","name":"","topic":"ticket/get","qos":"2","retain":"true","broker":"5d2c46e1.a8dc08","x":820,"y":380,"wires":[]},{"id":"946a7ccd.f57638","type":"http request","z":"81c33d2a.fc638","name":"Post Ticket","method":"POST","ret":"obj","url":"https://api.otakedev.com/queue/tickets/","tls":"","x":510,"y":440,"wires":[["ca46e19f.b89c6","56a8e95c.124a3","e2c119d2.35792"]]},{"id":"d0cf384f.9524c","type":"json","z":"81c33d2a.fc638","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":440,"wires":[["946a7ccd.f57638","f212831b.9d9308"]]},{"id":"94669169.5da628","type":"http request","z":"81c33d2a.fc638","name":"Get Ticket","method":"GET","ret":"obj","url":"https://api.otakedev.com/queue/tickets?uuid={{{query}}}","tls":"","x":600,"y":400,"wires":[["8ec46f97.f35cf","56a8e95c.124a3"]]},{"id":"eb41a7d2.f21c28","type":"mqtt in","z":"81c33d2a.fc638","name":"","topic":"ticket/delete","qos":"2","datatype":"auto","broker":"5d2c46e1.a8dc08","x":130,"y":340,"wires":[["9b55c64a.22c4c8"]]},{"id":"79803879.576e6","type":"http request","z":"81c33d2a.fc638","name":"Delete Ticket","method":"DELETE","ret":"obj","url":"https://api.otakedev.com/queue/tickets/{{{query}}}/{{{payload}}}","tls":"","x":510,"y":340,"wires":[["dc9b5b20.8dc698","e2c119d2.35792"]]},{"id":"9b55c64a.22c4c8","type":"change","z":"81c33d2a.fc638","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":340,"wires":[["79803879.576e6"]]},{"id":"dc9b5b20.8dc698","type":"debug","z":"81c33d2a.fc638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":320,"wires":[]},{"id":"56a8e95c.124a3","type":"link out","z":"81c33d2a.fc638","name":"new Ticket","links":["a47c0d59.673fa8"],"x":775,"y":520,"wires":[]},{"id":"292c7ce9.e211a4","type":"comment","z":"81c33d2a.fc638","name":"Main node","info":"","x":80,"y":40,"wires":[]},{"id":"f80d9310.ac5b1","type":"comment","z":"81c33d2a.fc638","name":"Process","info":"","x":120,"y":300,"wires":[]},{"id":"5b5722b8.c27054","type":"comment","z":"81c33d2a.fc638","name":"Test node","info":"","x":80,"y":580,"wires":[]},{"id":"db920a87.4b8c08","type":"comment","z":"81c33d2a.fc638","name":"update Manager","info":"","x":840,"y":480,"wires":[]},{"id":"dcd2c826.08ab38","type":"mqtt in","z":"81c33d2a.fc638","name":"","topic":"student/post","qos":"2","datatype":"auto","broker":"5d2c46e1.a8dc08","x":130,"y":140,"wires":[["30686867.7e6bf8"]]},{"id":"74f0aecc.4259b","type":"http request","z":"81c33d2a.fc638","name":"Check Student","method":"GET","ret":"obj","url":"https://api.otakedev.com/queue/student/{{{query}}}","tls":"","x":600,"y":140,"wires":[["cda83904.d42458"]]},{"id":"2bc4dd71.f9402a","type":"mqtt out","z":"81c33d2a.fc638","name":"","topic":"client/connect","qos":"2","retain":"true","broker":"5d2c46e1.a8dc08","x":1040,"y":160,"wires":[]},{"id":"30686867.7e6bf8","type":"json","z":"81c33d2a.fc638","name":"","property":"payload","action":"","pretty":false,"x":270,"y":140,"wires":[["4bede9bb.601848"]]},{"id":"cda83904.d42458","type":"switch","z":"81c33d2a.fc638","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":140,"wires":[["9ffba869.64dba"],["611709cb.5ee4b"]]},{"id":"eb14e1a9.82fdf8","type":"comment","z":"81c33d2a.fc638","name":"Starter","info":"","x":110,"y":100,"wires":[]},{"id":"9ffba869.64dba","type":"change","z":"81c33d2a.fc638","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"c8d1ac72-b399-4519-8445-7960c60841b6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":100,"wires":[["2bc4dd71.f9402a","226247ed.5923e","e2c119d2.35792"]]},{"id":"226247ed.5923e","type":"debug","z":"81c33d2a.fc638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":60,"wires":[]},{"id":"4bede9bb.601848","type":"change","z":"81c33d2a.fc638","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload.id","tot":"msg"},{"t":"set","p":"payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[["74f0aecc.4259b"]]},{"id":"1d661e1e.a30f22","type":"inject","z":"81c33d2a.fc638","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":620,"wires":[["b716bea4.bc5"]]},{"id":"b716bea4.bc5","type":"template","z":"81c33d2a.fc638","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"first_name\":\"John\",\n    \"last_name\":\"Doe\",\n    \"major_id\":1,\n    \"id\": \"6cb991c0-889b-11e9-86ba-e751b65cb721\"\n}","output":"str","x":240,"y":620,"wires":[["89b13265.5b4ff"]]},{"id":"89b13265.5b4ff","type":"mqtt out","z":"81c33d2a.fc638","name":"","topic":"student/post","qos":"2","retain":"true","broker":"5d2c46e1.a8dc08","x":730,"y":620,"wires":[]},{"id":"9da15526.66086","type":"mqtt in","z":"81c33d2a.fc638","name":"","topic":"client/connect","qos":"2","datatype":"auto","broker":"5d2c46e1.a8dc08","x":90,"y":700,"wires":[["f6085eb8.0ec28"]]},{"id":"267735df.f6ce82","type":"debug","z":"81c33d2a.fc638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":700,"wires":[]},{"id":"f6085eb8.0ec28","type":"json","z":"81c33d2a.fc638","name":"","property":"payload","action":"","pretty":false,"x":270,"y":700,"wires":[["267735df.f6ce82"]]},{"id":"fe63cd81.385718","type":"template","z":"81c33d2a.fc638","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n \"first_name\": \"{{flow.payload.first_name}}\",\n \"last_name\": \"{{flow.payload.last_name}}\",\n \"major_id\": {{flow.payload.major_id}}\n}","output":"json","x":600,"y":200,"wires":[["de049d6.b7b83e"]]},{"id":"ac83e640.a3c0f","type":"inject","z":"81c33d2a.fc638","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":660,"wires":[["ed812f4c.02fce8"]]},{"id":"ed812f4c.02fce8","type":"template","z":"81c33d2a.fc638","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"first_name\":\"Jason\",\n    \"last_name\":\"Haenlin\",\n    \"major_id\":1\n}","output":"str","x":240,"y":660,"wires":[["89b13265.5b4ff"]]},{"id":"611709cb.5ee4b","type":"change","z":"81c33d2a.fc638","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["fe63cd81.385718"]]},{"id":"de049d6.b7b83e","type":"http request","z":"81c33d2a.fc638","name":"Post Student","method":"POST","ret":"obj","url":"https://api.otakedev.com/queue/student","tls":"","x":750,"y":200,"wires":[["9ffba869.64dba"]]},{"id":"492092e.e4f82ec","type":"mqtt out","z":"81c33d2a.fc638","name":"","topic":"major/get","qos":"2","retain":"true","broker":"5d2c46e1.a8dc08","x":980,"y":240,"wires":[]},{"id":"e2286154.659d58","type":"http request","z":"81c33d2a.fc638","name":"","method":"GET","ret":"obj","url":"https://api.otakedev.com/universities/majors","tls":"","x":750,"y":240,"wires":[["492092e.e4f82ec"]]},{"id":"37b4f361.0bb87c","type":"inject","z":"81c33d2a.fc638","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":240,"wires":[["e2286154.659d58"]]},{"id":"1ac10c31.41273c","type":"inject","z":"81c33d2a.fc638","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":400,"wires":[["e2c119d2.35792"]]},{"id":"f212831b.9d9308","type":"debug","z":"81c33d2a.fc638","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":480,"wires":[]},{"id":"e2c119d2.35792","type":"change","z":"81c33d2a.fc638","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[["94669169.5da628"]]},{"id":"2d61553c.62baba","type":"inject","z":"81c33d2a.fc638","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":90,"y":780,"wires":[["f477cd1a.0606a8"]]},{"id":"f477cd1a.0606a8","type":"mqtt out","z":"81c33d2a.fc638","name":"","topic":"established","qos":"2","retain":"true","broker":"5d2c46e1.a8dc08","x":550,"y":780,"wires":[]},{"id":"871264a8.08f09","type":"inject","z":"81c33d2a.fc638","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":840,"wires":[["d8e02e3e.cbd4e8"]]},{"id":"d8e02e3e.cbd4e8","type":"change","z":"81c33d2a.fc638","name":"","rules":[{"t":"set","p":"payload","pt":"flow","to":"c8d1ac72-b399-4519-8445-7960c60841b6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":840,"wires":[[]]},{"id":"5d2c46e1.a8dc08","type":"mqtt-broker","z":"","name":"","broker":"broker.otakedev.com","port":"8080","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]